.container {
	max-width: 50%;
	width: 50%;
	margin:auto;
	margin-top: 30%;
}

.list-container {
	max-width: 100%;
	border: 1px solid;
}

#insertList {
	font-size: 2em;
	margin-top: 3%;
	padding-left: 10%;
}

#thelist {
	padding-left: 10%;
	margin-right: 1.2em;
}

#thelist li {
	background-color: rgba(0,0,0,0.1);
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-left: 4%;
	font-size: 2em;
	width: 90%;
	max-width: 90%;
	word-wrap: break-word;
}

#thelist input{
	float:right;
}

#thelist :nth-child(2n) {
	background-color: rgba(0,0,0,0.2);
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='text']{
	height:2em;
}

input[type='submit']{
	height:2em;
}

button {
	height: 2em;
}

input[type='checkbox']:checked {
    background-color: #e03886;
}