.list-container {
	max-width: 30%;
	border: 1px solid;
}

#insertList {
	padding-left: 1.5em;
}

#thelist {
	padding-left: 1.2em;
	margin-right: 1.2em;
}

#thelist li {
	background-color: rgba(0,0,0,0.1);
	margin-top: 0.5em;
	margin-bottom: 0.5em;

	width: 100%;
	max-width: 100%;
	word-wrap: break-word;
}

#thelist input{
	float:right;
}

#thelist :nth-child(2n) {
	background-color: rgba(0,0,0,0.2);
}